<app-cart-item *ngFor="let product of products" [product]="product"></app-cart-item>
<p>Total is :${{total}}</p>

<form #form="ngForm">
<p>Full Name</p>
<input type="text" name="title" required minlength="3" maxlength="32" placeholder="(Min 3 chars)" [(ngModel)]="name">
<p>Address</p>
<input type="text" name="title" required minlength="6" maxlength="32" placeholder="(Min 6 chars)" [(ngModel)]="address">

<p>Credit card number</p>
<input type="text" name="title" required minlength="16" maxlength="16" placeholder="(16 Digits)" [(ngModel)]="credit">
<button routerLink="ConfirmationComponent" (click)="setNameAndTotal()" type="submit" [disabled]="form.invalid"> submit</button>
</form>