<div class="product-container">
    <a  routerLink="/ProductItemDetailComponent/{{product.id}}"><img src={{product.url}} class="product-image"></a>
    <p>{{product.name}}</p>
    <p>${{product.price}}</p>
    <select class="select-input" [(ngModel)]="selectedValue" [value]='1'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    <button (click)="addToCart()">Add to Cart</button> 
</div>


